<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">   
   
   <link rel="stylesheet" href="{% static 'css/nav.css' %}">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <nav class="container-fluid navbar active px-5">
    <div class="logo">
      <h1 class="text-white">MyProject</h1>
    </div>
    <ul class="nav-links">
      <li><a href="{% url 'main:index_name' %}">Home</a></li>
      <li><a href="{% url 'about_name' %}">About</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'main:logout_name' %}">Log out</a></li> 
      {% else %}     
      <li><a href="{% url 'main:signup_name' %}">Sign Up</a></li>
      <li><a href="{% url 'main:login_name' %}">Log In</a></li>
      {% endif %}      
      <li><a href="{% url 'main:contact_name' %}">Contact</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>     
 
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>

</body>
<script>
  // alert("testing");
  const navSlide = () => {
    const nav = document.querySelector(" .navbar");
    const burgerToggle = document.querySelector(".burger");
    // nav-links toggle
    burgerToggle.addEventListener("click", () => {
      nav.classList.toggle("active");

      // burger animation
      burgerToggle.classList.toggle("toggle");
    });
  };
  navSlide();
</script>
</html>

