{% extends 'base.html' %}

{% block body %}
<div class="card mb-4 mt-4 w-50 m-auto">
   <div class="card-header"><h4>Login To Your Account</h4></div>
   <div class="card-body">
     <form action="" method="POST" novalidate>
       {% csrf_token %}
       <!-- error message -->
       {% if form.non_field_errors %}
       {% for error in  form.non_field_errors %}
       <p class="text-danger">{{error}}</p>
       {% endfor %}
       {% endif %}
    
      {% for fm in form %}
      {{fm.label_tag}}  {{fm }}  {{fm.errors|striptags}} <br><br>
      {% endfor %}
       <button type="submit" class="btn btn-primary">Login</button>
     </form>
   </div>
 </div>
 
{% endblock %}