nav {
  background-color: #008080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  text-shadow: 0 1px lightblue;
  text-transform: uppercase;
}
.nav-links li:hover {  
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  color: white;
  opacity: .7;   
}
.nav-links {
  width: 40%;
  align-items: center;
  display: flex;  
  justify-content: space-around;
}
.burger {
  display: none;
}
.burger div {
  width: 33px;
  height: 3px;
  margin: 5px 3px;
  background-color: white;
}
@media screen and (max-width: 1024px) {
  nav {
    height: 14vh;
  }  
  .burger {
    display: block;
    position: absolute;
    right: 10%;
    cursor: pointer;
  }
  .navbar .nav-links {
    position: absolute;
    top: 14vh;
    right: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #008080;
    padding: 20px;
    transform: translateX(0%);
    transition: all 0.5s ease-in;
  }
  .navbar.active .nav-links {
    position: absolute;
    top: 14vh;
    right: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
    transform: translateX(100%);
  }
  .nav-links li {
    padding: 10px;
  }
  .nav-links li:hover {   
    width: 100%;
    text-align: center;
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}